<div class="row">
  <div class="col-lg-4 col-md-6 ml-auto mr-auto">
    <h1 class="text-center">Enter 2FA Code</h1>
    <p>Enter the code given from the Authenticator App</p>

    <%= simple_form_for(@otp_form, url: user_otp_session_path, html: { id: "step-2" } ) do |f| %>
    <%= f.error_notification %>

      <div class="form-group">
        <%= f.input :otp_attempt, placeholder: '2FA Code', input_html: { autocomplete: 'off' }, class: 'form-control' %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="form-check">
          <label class="form-check-label">
            <%= f.check_box :remember_me, class: "form-check-input" %>
            Remember me
          </label>
        </div>
      <% end -%>

      <div class="form-group">
        <%= f.submit "Log in", class: "btn btn-primary btn-block btn-lg" %>
      </div>
    <% end %>

    <div class="text-center">
      <%= link_to 'Log in with a backup code', :new_user_backup_code_session %>
    </div>

    <div class="text-center">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
