<div class="row">
  <div class="col-lg-4 col-md-6 ml-auto mr-auto">
    <h1 class="text-center">Enter Backup Code</h1>

    <p>Enter one of your 8-digit backup codes</p>

    <%= simple_form_for(@backup_code_form, url: user_backup_code_session_path, html: { id: "step-2" } ) do |f| %>
    <%= f.error_notification %>

      <div class="form-group">
        <%= f.input :backup_code_attempt, placeholder: 'Backup Code', input_html: { autocomplete: 'off' }, class: 'form-control' %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="form-check">
          <label class="form-check-label">
            <%= f.check_box :remember_me, class: "form-check-input" %>
            Remember me
          </label>
        </div>
      <% end -%>

      <div class="form-group">
        <%= f.submit "Log in", class: "btn btn-primary btn-block btn-lg" %>
      </div>
    <% end %>

    <div class="text-center">
      <%= link_to 'Log in with authenticator', :new_user_otp_session %>
    </div>

    <div class="text-center">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
