<div class="row">
  <div class="col-lg-4 col-md-6 ml-auto mr-auto">
    <h1 class="text-center"><%= I18n.t('auth.backup_code_sessions.enter_backup_code') %></h1>
    <p><%= I18n.t('auth.backup_code_sessions.enter_backup_code_detail') %></p>

    <%= simple_form_for(@backup_code_form, url: auth_backup_code_sessions_path, html: { id: "step-2" } ) do |f| %>
    <%= f.error_notification %>

      <div class="form-group">
        <%= f.input :backup_code_attempt, placeholder: I18n.t('auth.backup_code_sessions.backup_code'), input_html: { autocomplete: 'off', autofocus: true }, class: 'form-control' %>
      </div>

      <% if :rememberable.in?(User.devise_modules) -%>
        <div class="form-check">
          <label class="form-check-label">
            <%= f.check_box :remember_me, class: "form-check-input" %>
            <%= I18n.t('auth.remember_me') %>
          </label>
        </div>
      <% end -%>

      <div class="form-group">
        <%= f.submit I18n.t('auth.log_in'), class: "btn btn-primary btn-block btn-lg" %>
      </div>
    <% end %>

    <div class="text-center">
      <%= link_to I18n.t('auth.otp_sessions.log_in_with_authenticator'), :new_auth_otp_session %>
    </div>

    <div class="text-center">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
