<div class="row">
  <div class="card w-50 scissors">
    <div class="card-body">
      <h5 class="card-title"><%= I18n.t('auth.backup_codes.save_backup_codes') %></h5>
      <p><%= I18n.t('auth.backup_codes.info_1') %></p>
      <p><%= I18n.t('auth.backup_codes.info_2') %></p>

      <form>
        <% @backup_codes.each do |backup_code| %>
          <div>
            <%= check_box_tag nil, nil, false, disabled: !print_version, id: nil %>
            <code><%= OtpService.format_backup_code(backup_code) %></code>
          </div>
        <% end %>
      </form>

      <br>
      <%= I18n.t('auth.backup_codes.backup_codes_generated_on', date: current_user.otp_backup_codes_updated_at&.strftime('%d %b %Y')) %>
    </div>
  </div>
</div>
<br>
