<%= render partial: 'backup_codes', locals: { print_version: false } %>

<div><%= link_to I18n.t('auth.backup_codes.get_new_codes'), :auth_backup_codes, method: :post, class: "btn btn-primary", data: { confirm: I18n.t('auth.backup_codes.confirm_new_codes') } %></div>
<br>

<%= link_to I18n.t('auth.backup_codes.print'), :auth_backup_codes_print, class: "btn btn-primary", target: :blank %>
<%= link_to I18n.t('auth.backup_codes.download'), :auth_backup_codes_download, class: "btn btn-primary", target: :blank %>
<%# Copy to clipboard is only supported over HTTPS %>
<%= link_to I18n.t('auth.backup_codes.copy'), '#', class: "btn btn-primary", id: 'copy-backup-codes-button',
                                                   data: { text: render(template: 'auth/backup_codes/download.text'),
                                                           copied: I18n.t('auth.backup_codes.copied') } %>


<%= link_to "Back", :edit_auth_two_factors, class: "btn btn-primary" %>
