<h3><%= I18n.t('auth.backup_codes.save_backup_codes') %></h3>

<p><%= I18n.t('auth.backup_codes.info_1') %></p>
<p><%= I18n.t('auth.backup_codes.info_2') %></p>

<form>
  <% @backup_codes.each do |backup_code| %>
    <input type="checkbox" disabled> <code><%= OtpService.format_backup_code(backup_code) %></code></input><br>
  <% end %>
</form>

<p><%= I18n.t('auth.backup_codes.backup_codes_generated_on', date: current_user.otp_backup_codes_updated_at&.strftime('%d %b %Y')) %></p>

<div><%= link_to I18n.t('auth.backup_codes.get_new_codes'), :auth_backup_codes, method: :post, class: "btn btn-primary", data: { confirm: I18n.t('auth.backup_codes.confirm_new_codes') } %></div>
<br>
<%= link_to I18n.t('auth.backup_codes.print'), :auth_backup_codes_print, class: "btn btn-primary", target: :blank %>
<%= link_to I18n.t('auth.backup_codes.download'), :auth_backup_codes_download, class: "btn btn-primary" %>
<%= link_to I18n.t('auth.backup_codes.copy'), '#', class: "btn btn-primary disabled" %>

<%= link_to "Back", :edit_auth_two_factors, class: "btn btn-primary" %>

