<div class="row">
  <div class="card w-100">
    <div class="card-body">
      <h5 class="card-title"><%= I18n.t('auth.two_factors.two_factor_authentication') %></h5>
      <p class="card-text">✔️ <%= I18n.t('auth.two_factors.is_enabled', date: current_user.otp_updated_at&.strftime('%d %b %Y')) %>
      <div><%= link_to I18n.t('auth.two_factors.disable_2fa'), :auth_two_factors, method: :delete, class: "btn btn-danger",
                                                data: { confirm: I18n.t('auth.two_factors.confirm_disable') } %></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="card w-100">
    <div class="card-body">
      <h5 class="card-title"><%= I18n.t('auth.two_factors.backup_codes') %></h5>
      <p class="card-text"><%= I18n.t('auth.two_factors.backup_codes_available', count: OtpService.backup_codes_available(user: current_user)) %></p>
      <%= link_to I18n.t('auth.two_factors.view_backup_codes'), :auth_backup_codes, class: 'btn btn-primary' %>
    </div>
  </div>
</div>

<br>
<%= link_to "Back", :edit_user_registration, class: "btn btn-primary" %>
