<div class="row">
  <div class="card w-50">
    <div class="card-body">
      <h5 class="card-title"><%= I18n.t('auth.two_factors.step_1') %></h5>
      <p class="card-text"><%= I18n.t('auth.two_factors.download_authenticator',
        android_link: link_to(I18n.t('auth.two_factors.android'), 'https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2', target: :blank),
        ios_link: link_to(I18n.t('auth.two_factors.ios'), 'https://apps.apple.com/us/app/google-authenticator/id388497605', target: :blank),
      ).html_safe %></p>
    </div>
  </div>
</div>
<div class="row">
  <div class="card w-50">
    <div class="card-body">
      <h5 class="card-title"><%= I18n.t('auth.two_factors.step_2') %></h5>
      <p><%= I18n.t('auth.two_factors.open_authenticator') %></p>
      <ul>
        <li><%= I18n.t('auth.two_factors.tap_plus') %></li>
        <li><%= I18n.t('auth.two_factors.scan_barcode') %></li>
      </ul>

      <%= OtpService.otp_qr_code(user: current_user) %>
      <br><br>
      <h5 class="card-title"><%= I18n.t('auth.two_factors.cant_scan_barcode') %></h5>
      <p class="card-text"><%= I18n.t('auth.two_factors.enter_manually_code') %></p>
      <code><%= OtpService.format_otp_secret(current_user.otp_secret) %></code>
      </dl>
    </div>
  </div>
</div>
<div class="row">
  <div class="card w-50">
    <div class="card-body">
      <h5 class="card-title"><%= I18n.t('auth.two_factors.step_3') %></h5>
      <p class="card-text"><%= I18n.t('auth.otp_sessions.enter_authenticator_code_detail') %></p>

      <%= simple_form_for(@otp_form, url: auth_two_factors_path, html: { id: "step-2" } ) do |f| %>
      <%= f.error_notification %>
        <div class="form-group">
          <%= f.input :otp_attempt, placeholder: I18n.t('auth.otp_sessions.authenticator_code'), input_html: { autocomplete: 'off', autofocus: true }, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.submit I18n.t('auth.two_factors.enable_2fa'), class: "btn btn-primary btn-block btn-lg" %>
        </div>

        <%= link_to "Back", :edit_user_registration, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
