<div class="row">
  <div class="card w-50">
    <div class="card-body">
      <h5 class="card-title">Step 1: Get an Authenticator app</h5>
      <p class="card-text">Download Google Authenticator for <%= link_to "Android", "https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2", target: :blank %>
            or <%= link_to "iOS", "https://apps.apple.com/us/app/google-authenticator/id388497605", target: :blank %></p>
    </div>
  </div>
</div>
<div class="row">
  <div class="card w-50">
    <div class="card-body">
      <h5 class="card-title">Step 2: Scan barcode</h5>
      <p class="card-text">In the app, press the Plus (+) sign to set up an account.</p>
      <p class="card-text">Choose "Scan a barcode"</p>

      <%= OtpService.otp_qr_code(user: current_user) %>
      <br><br>
      <h5 class="card-title">Can't scan the barcode?</h5>
      <p class="card-text">Enter manually the following time-based key on the authenticator app</p>
      <code><%= OtpService.format_otp_secret(current_user.otp_secret) %></code>
      </dl>
    </div>
  </div>
</div>
<div class="row">
  <div class="card w-50">
    <div class="card-body">
      <h5 class="card-title">Step 3: Enter authenticator code</h5>
      <p class="card-text">Enter the code given from the Authenticator App</p>

      <%= simple_form_for(@otp_form, url: auth_two_factors_path, html: { id: "step-2" } ) do |f| %>
      <%= f.error_notification %>
        <div class="form-group">
          <%= f.input :otp_attempt, placeholder: '2FA Code', input_html: { autocomplete: 'off' }, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.submit "Enable Two Factor Authenticaton", class: "btn btn-primary btn-block btn-lg" %>
        </div>

        <%= link_to "Back", :edit_user_registration, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
